<center><h2>Edit comment:</h2></center>
<div class="container", style="width:40rem" >
<%= form_with model: @comment, url: article_comment_path do |form| %>
  <p>
    <%= form.label :commenter, class:"form-label" %><br>
    <%= form.text_field :commenter, class:"form-control" %>
  </p>
  <p>
    <%= form.label :desciption, class:"form-label" %><br>
    <%= form.text_area :description, class:"form-control" %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>
