<body style="background-color:lightyellow;">
<h1>Welcome</h1>
<h3>This is Article Website</h3>
<% if user_signed_in? %>
  <%= link_to "New Article", new_article_path, class:"btn btn-primary"%><br>
  <br>
  <style>
    table{width:100%; text-align:center}
  </style>
  <table class="table table-bordered border-primary">
    <center>
      <tr>
        <th style="background-color:#FFFFE0">title</th>
        <th style="background-color:#FFFFE0">Description</th>
        <th colspan = 2, style="background-color:#FFFFE0">Action</th>
      </tr>
    </center>
    <% @articles.each do |article| %>
      <tr>
        <td>
          <%= link_to article.title, article %>
        </td>
        <td>
          <%= article.description%>
        </td>
        <% if current_user.role == 'admin'|| current_user.role == 'editor' && article.user_id == current_user.id  %>
          <td>
            <%= link_to "Edit", edit_article_path(article), class:"btn btn-success" %>
          </td>
          <td>
            <%= link_to "Destroy", article_path(article),class:"btn btn-danger", data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure for delete article?"
                    }%>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
</body>