<body style="background-color:lightyellow;">
<h1>Article</h1>
<ul>
  <h4><%= @article.title %></h4>
  <h6><%= @article.description %></h6>
</ul>
<%= link_to "New Post", new_article_post_path(@article), class:"btn btn-primary" %>

<h2>Posts</h2>
<% @article.posts.each do |post| %>
  <ul>
    <h3><%= link_to post.title, article_post_path(@article, post) %></h3>
    <h6><%= post.description %></h6>
  </ul>
<% end %>
</body>