<body style="background-color:lightyellow;">
<%= link_to "back", root_path, class:"btn btn-success" %>
<h1>Article</h1>
<ul>
  <h4><%= @article.title %></h4>
  <h6><%= @article.description %></h6>
</ul>

  <div class="container", style="float: right; width:200px;">
    <%= link_to "New Post", new_article_post_path(@article), class:"btn btn-primary" %>
  </div>

<div class="container", style="float: right; width:600px;">
  <h2>Posts</h2>
  <h4 style = "color: green">Total count- <%= @article.posts.count %></h4>
  <% @article.posts.each do |post| %>
    <h3><%= link_to post.title, article_post_path(@article, post) %></h3>
    <h6><%= post.description %></h6>  
  <% end %>
  </div>
</body>