<body style="background-color:lightyellow;">
<%= link_to "back", article_post_path, class:"btn btn-success"%>
<center><h2>Edit Post</h2></center>
<div class="container", style="width:40rem" >
  <%= form_with model: @post, url:  article_post_path do |form| %>
    <p>
      <%= form.label :title, class:"form-label" %><br>
      <%= form.text_field :title, class:"form-control" %>
    </p>
    <p>
      <%= form.label :desciption, class:"form-label" %><br>
      <%= form.text_area :description, class:"form-control" %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>
</body>
