 <%= link_to "back", article_path(@article), class:"btn btn-outline-primary"%>
<body style="background-color:lightyellow;">
<h1>Post</h1>
<ul>
  <h2><%= @post.title %></h2>
  <h6><%= @post.description %></h6>
</ul>
<% if current_user.role == 'admin'|| current_user.role == 'editor' && @post.user_id == current_user.id  %>
  <pre>
    <%= link_to "Edit" ,edit_article_post_path(@article, @post), class:"btn btn-primary" %>  <%= link_to "Destroy", article_post_path(@article, @post), class:"btn btn-danger", data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure for delete article?"
                    } %>
  </pre>
<% end %>

<% like = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if like %> 
  <div class="row">
    <span class="col-sm-1">
    <%= button_to "unlike ðŸ‘Ž", article_post_like_path(@article, @post, like), class:"btn btn-danger", method: :delete %>
  </span>
    <span class="col-sm-1">
      <%= @post.likes.count %>
    </span>
  </div>
<% else %>
<div class="row">
  <span class="col-md-1">
  <%= button_to "Like ðŸ‘", article_post_likes_path(@article, @post), class:"btn btn-success", method: :post %>
  </span>
<span class="col-md-1">
  <%= @post.likes.count %>
</span>
</div>
<% end %><br>
<div class="container", style="float: right; width:700px;">
  <h3>Comments(<%= @post.comments.count %>)</h3>
  <% @post.comments.each do |comment| %>
    <ul>
      <h4 style = "color: green"><%= comment.user.name %></h4>
      <h6><%= comment.description %></h6>
      <% if current_user.role == 'admin' || comment.user_id == current_user.id %>
        <%= link_to "Destroy", article_post_comment_path(@article, @post, comment), class:"btn btn-danger delete_comment", data: {
                      turbo_method: :delete, :remote => true,
                      turbo_confirm: "Are you sure for delete article?"
                    } %>
      <% end %>
    </ul>
  <% end %>
</div>
<h3>Add a comment</h3>
<div class="container", style="float: left; width:550px;">
  <%= form_with model: [@article, @post, @post.comments.build ] do |form| %>
    <p>
      <%= form.label :desciption, class:"form-label" %> <br>
      <%= form.text_area :description, class:"form-control" %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>
</body>
